.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeftHalf {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: .5;
  }
}


@-webkit-keyframes gradientBackground {
  0%{background-position:75% 0%}
  50%{background-position:25% 100%}
  100%{background-position:75% 0%}
}
@-moz-keyframes gradientBackground {
  0%{background-position:75% 0%}
  50%{background-position:25% 100%}
  100%{background-position:75% 0%}
}
@keyframes gradientBackground {
  0%{background-position:75% 0%}
  50%{background-position:25% 100%}
  100%{background-position:75% 0%}
}





.App-header {
   /*background: #4568DC;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to bottom, #B06AB3, #4568DC); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/


  background: linear-gradient(270deg, #b06ab3, #4568dc);
  background-size: 400% 400%;

  -webkit-animation: gradientBackground 15s ease infinite;
  -moz-animation: gradientBackground 15s ease infinite;
  animation: gradientBackground 15s ease infinite;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.goDown {
  animation: 1s ease-out 0s  slideInFromLeft;
}

.goDown2 {
  animation: 1s ease-out 0s slideInFromLeftHalf;
}



.Title {
  font-size: 5rem;
  /*font-size: calc(10px + 2vmin);*/
  font-family: 'Baloo Chettan', cursive;
  color: white;

}

.sub-header{
  color: white;
  font-size: 1.5rem;
  opacity: 0.5;

}

.form {
  width: 25vw;
  height:10vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*credit https://codepen.io/andreasstorm/pen/gKGbxo*/

html,
body {
  height: 100%;
}
body {
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
.inp {
  position: relative;
  /*margin: auto;*/
  width: 100%;
  max-width: 50vw;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: rgba(255,255,255, 0.75);
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid white;
  background: none;
  border-radius: 0;
  color: rgba(255,255,255, 0.85);
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(255,255,255,0.05);
}
.inp input:not(:placeholder-shown) + span {
  color: rgba(255,255,255, 0.5);
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: rgba(255,255,255, 0.5);
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

/*credit https://codepen.io/sebj54/pen/oxluI*/

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 3px 10px rgba(10, 0, 75, 0.4);

  background-color: #340d71;
  color: #ecf0f1;
  font-size: 2.5rem;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #134ba1;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


/*https://codepen.io/mohaiman/pen/MQqMyo credit*/
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  margin: 0px;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}